%div
  %p MAF Input

%p

%form{ action: "", method: "post"}
  %textarea{name: "remote_maf", :class => "text", cols: "100", rows: "3"}=@remote_maf
  %input{:type => "submit", :value => "Get", :class => "button"}

%pre
  =html_escape(@output)