%div
  %p MAF Input

%p
  %a{:href => "interact"} DSL Query
  %br
  %a{:href => "query"} SPARQL Query

%form{ action: "", method: "post"}
  %textarea{name: "remote_maf", :class => "text", cols: "80", rows: "1"}=@remote_maf
  %input{:type => "submit", :value => "Get", :class => "button"}

%pre
  =html_escape(@output)